/*font styles*/
h1 {
font-family: 'Merriweather', serif;
font-size: 50px;
}
#byline {
	font-style: italic;
}
#sub1 {
	font-size: 25px;
	font-family: 'Merriweather', serif;
}
p {
	font-family: Helvetica, Arial, sans-serif;
	font-size: 15px;
}
#content {
	margin: 0 auto;
	width: 700px;
}
blockquote {
font-size: 20px;
font-family: Helvetica, Arial, sans-serif;
font-style: italic;
margin-top: 15px;
margin-bottom: 15px;
color: #E1A000;
margin-left: 50px;
padding-left: 15px;
border-right: 8px solid #E1A000;
border-left: 8px solid #E1A000;
}
/*pics*/
.debrispic {
	width: 100%;
	margin: 0 auto;
}
.insidepic
	width: 100%;
	margin: 0 auto;
}
.aerial {
	width: 100%;
	margin: 0 auto;
}
.mappic {
	width: 100%;
	margin: 0 auto;
}
.NDpic {
	width: 100%;
	margin: 0 auto;
}
.toppic {
	width: 100%;
	margin: 0 auto;
}
.credit {
	font-size: 10px;
	font-style: italic;
}
.links {
	font-style: italic;
}
