h1 {
font-family: 'Merriweather', serif;
font-size: 50px;
}
#byline {
	font-style: italic;
}
.sub1 {
	font-size: 25px;
	font-family: 'Merriweather', serif;
}
p {
	font-family: Helvetica, Arial, sans-serif;
	font-size: 15px;
}
#content {
	margin: 0 auto;
	width: 700px;
}
